@media screen and (min-width: 426px) {
    /* header start */
    header {
        background-image: url("../images/bg-header-desktop.png");
        background-repeat: no-repeat;
        background-size: contain;
        text-align: center;
    }
    
    .tittle-header {
        font-weight: 600;
        color: hsl(210, 10%, 33%);
    }
    
    .p-header {
        max-width: 45vw;
        margin: 0 auto;
        color: hsl(201, 11%, 66%);
    }

    .btn-header {
        display: flex;
        gap: 1.5rem;
        flex-direction: row;
        width: 500px;
        height: 50px;
        margin: 0 auto;
    }
    
    .btn-header .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1rem 0;
        border-radius: 100px;
        border: none;
        font-size: 1.2rem;
        font-weight: 600;
        color: white;
    }
    
    .ios-btn {
        background-color: hsl(171, 66%, 44%)
    }
    
    .mac-btn {
        
        background-color: hsl(233, 100%, 69%)
    }
    
    .mac-btn:hover, .ios-btn:hover{
        opacity: .5;
        }


    /* header end */

    /* main start*/

    /* snippets start */
    .snippets {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 48vw;
        margin: 0 auto;
    }

    .tittle-snippets {
        font-weight: 600;
        color: hsl(210, 10%, 33%);
    }

    .p-snippets {
        padding-top: 1rem;
        color: hsl(201, 11%, 66%);
    }

    /* snippets end */

    /* clipboard start */ 
    .clipboard{
        text-align: center;
        padding: 0 8.5rem;
    }
    /* clipboard end*/

    /* main end */

    /* footer start */
    .footer-principal{
        display: flex;
        justify-content:space-around ;
        align-items: center;
    }
    .items-footer{
        padding-top: 3rem;
    }
    .items-footer ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .items-footer ul li{
        margin-right: 2rem;
    }
    .redes-footer ul{
        max-width: 20vw;
    }
    .redes-footer ul > li{
        margin-left: 0;
    }

    /* footer end*/

}