@media screen and (min-width: 1020px) {
    .clipboard{
        text-align: center;
        padding: 0 8.5rem;
    }
    .footer-principal{
        display: flex;
        justify-content:space-around ;
        align-items: center;
    }
    .items-footer{
        padding-top: 3rem;
    }
    .items-footer ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }
    .items-footer ul li{
        margin-right: 2rem;
    }
    .redes-footer ul{
        max-width: 20vw;
    }
    .redes-footer ul > li{
        margin-left: 0;
    }
}