/* Empezamos a codear en este css, utilizando la medida de 375px de ancho */




/* header start */
header {
    background-image: url("../images/bg-header-mobile.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    padding: 7rem 0.8rem 5rem 0.8rem;
}

.tittle-header {
    padding: 3rem 0 1rem 0;
    color: hsl(210, 10%, 33%);
}

.p-header {
    padding: 0 0.1rem 3rem 0.1rem;
    color: hsl(201, 11%, 66%);
}

.btn-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}

.btn-header .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    border-radius: 100px;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}

.ios-btn {
    background-color: hsl(171, 66%, 44%)
}

.mac-btn {
    
    background-color: hsl(233, 100%, 69%)
}

.mac-btn:hover, .boton-mac:hover{
    opacity: .5;
}
/* header end */

/* main start*/

/* snippets start */
.snippets {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5rem 0.8rem 5rem 0.8rem;
}

.tittle-snippets {
    color: hsl(210, 10%, 33%);
}

.p-snippets {
    padding-top: 1rem;
    color: hsl(201, 11%, 66%);
}

/* snippets end */

/* clipboard start */ 

.clipboard{
    text-align: center;
    margin: 15px;
}

.clipboard h3{
    margin-bottom: 2rem;
    color: hsl(210, 10%, 33%);
    font-weight: 600;
    font-size: 2rem;
}
.clipboard p{
    color: hsl(201, 11%, 66%);
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 2rem;
    line-height: 25px;
}

.clipboard .botones-iosmac{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    font-size: 1.3rem;
}

.boton-ios{
    margin-bottom: 1.5rem;
    max-width: 20rem;
    border-radius: 39px;
    border: 1px solid hsl(171, 66%, 44%);
    background: hsl(171, 66%, 44%);
    box-sizing: border-box;
    padding: 1rem 2rem;
    color: #fff;
    font-weight: 600;
    font-size: 1.3rem;

}

.boton-mac{
    margin-bottom: 1.5rem;
    max-width: 20rem;
    border-radius: 39px;
    border: 1px solid hsl(233, 100%, 69%);
    background: hsl(233, 100%, 69%);
    box-sizing: border-box;
    padding: 1rem 2rem;
    color: #fff;
    font-weight: 600;
    font-size: 1.3rem;
}

.boton-ios:hover, .boton-mac:hover{
opacity: .5;
}

/* clipboard end*/

/*supercharge start*/

.supercharge {
    padding: 2rem 0.8rem;
    text-align: center;
    line-height: 1.4;
}

.supercharge-intro {
    margin-bottom: 3rem;
}

.icon {
    font-size: 3rem;
    margin: 2rem 0;
    color: hsl(201, 11%, 66%);
}
.title-supercharge, .subTitle-supercharge {
    color: hsl(210, 10%, 33%);
}

.p-supercharge {
    padding-top: 1rem;
    color: hsl(201, 11%, 66%);
}

.supercharge-logos {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.supercharge-img {
    display: block;
    object-fit: contain;
    margin: 2.5rem 0;
}
/*supercharge end*/

/* main end */

/* footer start */

.footer{
    max-height: 100vh;
    text-align: center;
    background: hsl(0, 18%, 97%);
}

.logo-footer img{
    width: 70px;
    margin: 20px 0;
}

.items-footer ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}
.items-footer ul li{
    margin-bottom: 1rem;
}

.items-footer ul > a:hover{

 color: hsl(171, 66%, 44%);
}

.redes-footer ul{
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    margin: 0 auto 2rem auto;
}

.redes-footer a {
    font-size: 2rem;
    color: hsl(206, 8%, 33%);
}

.redes-footer a:hover{
    color: hsl(171, 66%, 44%);
}

/* footer end*/